* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

p {
    color: lightgray;
    margin: 7px;
    font-size: 15px;
}

b {
    color: #303030;
    background-color: lightgray;
    padding-right: 3px;
    padding-left: 3px;
}

.showMe {
    display: initial;
}

.hideMe {
    display: none;
}

/*Start Screen CSS*/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);

}

#startScreen {
    text-align: center;
    width:100%;
    height: 100%;
    color: rgb(83, 83, 83);
}

#title {
    color: white;
    padding: 10px;
    font-size: 1000%;
    font-weight: bold;
    margin: auto;
    width: 40%;
    position: relative;
    transform: translate(40%, 40%);
    z-index: 1;
}

#button {
    padding: 20px;
    margin: 20px;
    position: relative;
    transform: translate(18%, 30%);
    z-index: 1;
}

#startButton {
    padding: 5px;
    font-size: 400%;
    font-weight: bold;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

#startButton:hover {
    color: blue;
}

#customizeButton {
    padding: 5px;
    font-size: 400%;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;
    transform: translate(0%, 40%);
    background-color: transparent;
}

#customizeButton:hover {
    color: blue;
}

#accessibilityButton {
    padding: 5px;
    font-size: 400%;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;
    transform: translate(0%, 80%);
    background-color: transparent;
}

#accessibilityButton:hover {
    color: blue;
}

/*Accessibility Screen CSS*/
#accessibilityScreen {
    text-align: center;
    color: rgb(83, 83, 83);
    clear: both;
    overflow: auto;
}

.row {
    clear: both;
    overflow: auto;
}

.col1,
.col2 {
    width: 48%;
    overflow: auto;
    float: left;
    border-radius: 10px;
    border: 5px solid #930C10;
    background-color: #FFFEBD;
    font-size: 30px;
    padding: 20px;
    margin: 1%;
}

/*Avatar Details Screen CSS*/
#avatarDetails {
    text-align: center;
    font-family: monospace;
    color: rgb(83, 83, 83);
}

#avatarTitle {
    /*background-color: black;*/
    color: white;
    padding: 10px;
    font-size: 500%;
    font-weight: bold;

    /*New*/
    margin: auto;
}

#GameOverText {
    font-size: 100%;
}

#characterSelect {
    border: 5px solid #930C10;
    background-color: #FFFEBD;
    font-size: 30px;
    margin: auto;
    padding: 20px;
    /*New*/
    width: 60%;
}

#customiseCharacterTitle {
    color: white;
    padding: 10px;
    font-size: 500%;
    font-weight: bold;
    margin: auto;
    text-align: center;
    
}

input[type=text] {
    border: 2px solid #930C10;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 40%;
    font-size: 16px;
    font-family: monospace;
}

input[type=text]:focus {
    border: 4px solid #930C10;
}

.radio input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio label {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 2px solid #930C10;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    /*font-family: sans-serif, Arial;*/
    font-size: 16px;

}

.radio label:hover {
    background-color: rgb(255, 221, 221);
}

.radio input[type="radio"]:checked+label {
    background-color: rgb(255, 187, 187);
    border-color: rgb(204, 68, 68);
}

select {
    border: 2px solid #930C10;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 20%;
    font-size: 16px;
    font-family: monospace;
}

select:focus {
    border: 4px solid #930C10;
}

#avatarButton {
    padding: 20px;
    margin: 20px;
}

#begin {
    padding: 5px;
    font-size: 250%;
    font-weight: bold;
    background-color: #FFFEBD;
    color: rgb(83, 83, 83);
    border: 4px #930C10 solid;
    border-radius: 15px;
    cursor: pointer;
}

#begin:hover {
    background-color: rgb(255, 187, 187);
}

#return{
    padding: 5px;
    font-size: 250%;
    font-weight: bold;
    background-color: #FFFEBD;
    color: rgb(83, 83, 83);
    border: 4px #930C10 solid;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
}

#return:hover {
    background-color: rgb(255, 187, 187);
}

#gameScreen {
    text-align: center;
    font-family: monospace;
    color: rgb(83, 83, 83);
    /*background-color: rgb(96, 85, 141);*/
    height: 100%;
}

#timer {
    background-color: #FFFEBD;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    display: inline-block;
    border-radius: 30px;
    border: 2px #930C10 solid;
    margin: 10px;
    padding: 10px;
}

#storybox {
    background-image: radial-gradient(100% 100% at 100% 0, #363636 0, #262626 100%);
    box-shadow: 0px 5px;
    min-height: 125px;
    width: 610px;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    overflow:visible;
    /* position:absolute;
    top:30px;                               
    left:50%;
    transform:translate(-22%); */
    text-align: left;
}

.storybox-bottom {
    position: relative;
    height: 28px;
    margin-bottom:10px;
}

.storybox-bottom img {
    position: absolute;
    left: 0;
    bottom: 0;
}

#board {
    position: relative;
    /* position:absolute;
    left:50%;
    top:60%;
    transform:translate(-50%, -50%);*/
}

#statCard {
    border: 2px solid #930C10;
    border-radius: 10px;
    background-color: rgba(204, 204, 204, 0.541);
    width: 50%;
    margin: 10px auto;
}

#statCard th {
    text-align: center;
}

#statCard td {
    text-align: left;
    font-size: 90%;
}


#statCard tr:nth-child(even) {
    background: rgba(204, 204, 204, 0.541)
}

#statCard tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.541)
}


#statCard tr:hover {
    background-color: #fa00001f;
}

.lifeHeart {
    width: 40px;
    height: 40px;
    display: inline-flex;
    margin: 5px;
}

#up,
#down,
#right,
#left {
    width: 50%;
    height: 50px;
    background-image: radial-gradient(100% 100% at 100% 0, #363636 0, #262626 100%);
    color: white;
    font-size: 80%;
    padding: 10px;
    margin: 0 auto;
    float: left;
}

#Spider1,
#Spider2,
#Spider3,
#Spider4 {
    width: 50%;
    height: 50px;
    background-image: radial-gradient(100% 100% at 100% 0, #363636 0, #262626 100%);
    color: white;
    font-size: 80%;
    padding: 10px;
    margin: 0 auto;
    float: left;
}

#spiderChallengeDiv {
    width: 610px;
    height: 610px;
    margin: auto;

}

/* #down{
    width:30%;
    height:40%;
}
#right{
    width:30%;
    height:40%;
}
#left{
    width:30%;
    height:40%;
} */

#endScreen {
    text-align: center;
}


